body, html {
    font-family: 'Cascadia Code', monospace;
    color: white;
    cursor: none;
    overflow: hidden;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#cursor {
    position: fixed;
    width: 25px;
    height: 25px;
    border-top: 5px solid lime;
    border-left: 5px solid lime;
    transform-origin: top;
    transform: translate(-1px, 5px) rotate(15deg) scale(0);
    transition: transform 0.1s;
    pointer-events: none;
    filter: drop-shadow(0 0 5px lime) drop-shadow(0 0 10px lime)
            drop-shadow(0 0 50px lime);
}

#cursor:before {
    content: '';
    position: absolute;
    left: -2.5px;
    width: 5px;
    height: 40px;
    background: lime;
    transform-origin: top;
    transform: rotate(315deg);
}

body:hover #cursor {
    transform: translate(-1px, 5px) rotate(15deg) scale(1);
}
