/* Importer Cascadia Code */
@font-face {
    font-family: 'Cascadia Code';
    src: url('fonts/CascadiaCode-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cascadia Code';
    src: url('fonts/CascadiaCode-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


body, html {
    font-family: 'Cascadia Code', monospace;
    color: white;
}
