/* Styles généraux */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

#container, #hacking-container, #nova-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

header {
    text-align: center;
}

#game-logo {
    width: 250px;

}

#rules {
    text-align: justify;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
}

#start-button-container {
    margin-top: 20px;
}

#start-game {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #1d1e26;
    color: white;
    border: none;
    cursor: pointer;
}

#start-game:hover {
    background-color: #00994c;
}

/* Écran de piratage */
#screen-blackout {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: lime;
    font-size: 24px;
    position: relative;
}

.hacking-text {
    margin-bottom: 20px;
}

.flicker-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(234, 40, 40, 0.05);
    z-index: 999;
}

/* Barre de chargement */
#loading-bar-container {
    width: 80%;
    height: 20px;
    border: 2px solid lime;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
}

#loading-bar {
    width: 0;
    height: 100%;
    background-color: lime;
    animation: loading 5s linear forwards;
}

/* NOVA Chat */
#nova-chat {
    max-width: 600px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
}

/* Animations */

@keyframes loading {
    from { width: 0%; }
    to { width: 100%; }
}
