/* Styles généraux */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

#container, #hacking-container, #nova-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: lime;
}

#container {
    text-align: center;
}
h4 {
    font-style: italic;
}

.description{
    font-size: 20px;
}
.disclaimer {
    font-style: italic;
}
#rules {
    text-align: justify;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
}

#authorize-twitch {
    background-color: #1d1e26 !important; 
    color: lime;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 18px;

}

#authorize-twitch:hover {
    background-color: #3f4252 !important ;


}

#footer {
    background-color: #000;
    color: #fff;            
    text-align: center;      
    padding: 10px 0;        
    position: fixed;        
    bottom: 0;
    width: 100%;             
    font-size: 12px;         
}

#footer p {
    margin: 0
}



/* Animations */

@keyframes loading {
    from { width: 0%; }
    to { width: 100%; }
}
